{% extends "base.html" %}
{% block title %}Payment List{% endblock %}
{% block content %}
<h2>Payment List</h2>
<a href="{% url 'payment_create' %}">Add New Payment</a>
<ul>
    {% for payment in object_list %}
        <li>
            <a href="{% url 'payment_detail' payment.pk %}">Payment #{{ payment.pk }}</a>
            (<a href="{% url 'payment_update' payment.pk %}">Edit</a> | 
            <a href="{% url 'payment_delete' payment.pk %}">Delete</a>)
        </li>
    {% endfor %}
</ul>
{% endblock %}
